




body {
    background-image:url(https://picsum.photos/id/106/2592/1728/?blur=3);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: palevioletred;
    height: 90vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-container{
    display:flex;
    margin:auto;
    
    width:95%;
    margin-top:15%;
}

.bigContainer{
    display:block;
}


.hello{
    color:black;
    font-size:50px;
}



/* --------------------------CLOCK-------------------------------*/
.container_clock {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(./img/clock.png);
    background-size: cover;
    position: relative;
    background-color: rgb(241, 244, 237, 0.3);
    
    display: flex;

}

.needle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    border-radius: 2px;
}

.hr {
    width: 4px;
    height: 20%;
    background-color: #0F100E;
    transform: translateX(-50%);
}

.min {
    width: 2px;
    height: 35%;
    background-color: #70706F;
    transform: translateX(-50%);
}

.sec {
    width: 1px;
    height: 40%;
    background-color: #080907;
    transform: translateX(-50%);
}

/*--------------------------------YOUTUBE PLAYER-------------------------------*/

.music {
    margin-left: 30px;
    border:2px solid black;
    margin-top:5%;
    height:200px;
}

/*----------------------------TODO LIST---------------------------------*/

.TODO {
    margin-right: 30px;
    background-color: rgb(241, 244, 237, 0.3);
    border-radius: 10px;
    
}


h1 {
    color: grey;
    font-size: 3rem;
    font-weight: 50;
    text-align: center;
    margin: 1rem 0 3rem;
    font-family: 'Permanent Marker', cursive;
}

.styling {
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

.div_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
    font-family: 'Permanent Marker', cursive;
}

.add {
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
    font-family: 'Permanent Marker', cursive;
    ;
}

.add:hover {
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item {
    padding: 0.5rem;
    border-bottom: 4px solid black;
    margin-bottom: 1.5rem;
}

.item_input {
    background: none;
    outline: none;
    border: none;
    color: black;
    font-size: 1.4rem;
    width: 245px;
    font-family: 'Permanent Marker', cursive;


}

.edit {
    background: none;
    outline: none;
    border: none;
    color: black;
    font-size: 1.4rem;
    font-family: 'Permanent Marker', cursive;
    margin: 0 0.5rem;
    cursor: pointer;
}

.remove {
    background: none;
    outline: none;
    border: none;
    color: black;
    font-size: 1.4rem;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
}